
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Work Place
        </th>
        <th>
            Phone
        </th>
        <th>
            Course
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrainerID }, htmlAttributes: new { @class = "btn btn-danger col-md-3" })
                @Html.ActionLink("Details", "Details", new { id = item.TrainerID }, htmlAttributes: new { @class = "btn btn-danger col-md-3" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TrainerID }, htmlAttributes: new { @class = "btn btn-danger col-md-3" })
            </td>
        </tr>
    }

</table>